.search{
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    width: 80%;
    
}



.searchIcon{
    position: absolute;
   top: 30%;
   left:80%;
   font-size: 1.5rem;
}

.icon{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.categories{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
}

.active{
    color: #ECB365;
}

@media(max-width:1024px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 2rem auto;
        width: 80%;
        
    }

    .categories{

        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0.1rem;
        
        
    }
}