@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

:root{
  --main-font:'Roboto', sans-serif;
  --bold-font: font-family: 'Poppins', sans-serif;
  --large-text: 2rem;
  --main-color:#000;
  --main-background:#eee;
}

.header{
  font-family: var(--bold-font);
  font-size: var(--large-text);
  padding: 0.5rem;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

