.eventDetails{
    width: 80%;
    margin: 2rem auto;
    height: 73vh;
}

.wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.image{
    width: 100%;
}

.description{
    color: #ECB365;
}

.header{
    font-size: 2.5rem;
}

.eventInfo
{
    line-height: 2;
}

.button{
    margin: 1rem 0;
    padding:1rem 1.5rem;
    border-radius: 4px;
    color: #ECB365;
    background: #064663;

}